* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgb(0 0 0 / 71%);
    height: fit-content;
}

.header {
    padding: 20px;
    margin-top: 20px;
}



img{
   width: 300px;
   height: 400px;
   margin: 0 auto;
}
.header_wrapper {
 
    display: flex;
    background-color: rgb(244 204 28 / 92%);
    justify-content: space-between;

    padding: 20px;
}
a{
    color: black;
    text-decoration: none;
    transition: 200ms;
}        

h1{
    padding: 40px;
    color: white;
    text-align: center;
}


a :hover{
    font-size: 10px;
color: aliceblue;

}
.preheading{
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}
.second_block{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
  
    grid-gap: 20px;
padding: 40px;
}
.block{
    padding-left: 20px;
    padding-top: 20px;
   margin: 0 auto;
}
footer{
    padding: 40px;
    background-color: rgb(244 204 28 / 92%);
    

}
.map{
    align-items: center;
    border-radius: 20px;
}
.footer_wrapper{
    display: flex;
    justify-content: center;
} 


.stuff_block{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 60px;
    margin: 0 auto;
    display: none;
}

.stuff{
   margin: 0 auto;  
}